﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    IEP_projekat.Models.Account currentUser = Session["User"] as IEP_projekat.Models.Account;
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Silver",
        Value = "silver"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Golden",
        Value = "gold",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "Platinum",
        Value = "platinum"
    });

    int silver = (int)Session["silver"];
    int gold = (int)Session["gold"];
    int platinum = (int)Session["platinum"];
    int priceOfToken = (int)Session["price"];
    String myCurrency = (String)Session["currency"];

    int silverPrice = silver * priceOfToken;
    int goldPrice = gold * priceOfToken;
    int platinumPrice = platinum * priceOfToken;
    
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <center>
                <h2>Create</h2>
                <hr />
                <p>You can purchase one out of 3 packages.</p>

                <dl>
                    <dt>Silver package</dt>
                    <dd>@silver tokens (price - @silverPrice @myCurrency)</dd>

                    <dt>Gold package</dt>
                    <dd>@gold tokens (price - @goldPrice @myCurrency)</dd>

                    <dt>Platinum package</dt>
                    <dd>@platinum tokens (price - @platinumPrice @myCurrency)</dd>
                </dl>

                <p><strong>Choose wisely and fast!</strong></p>
            </center>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            @using (Html.BeginForm("Create", "TokenOrder", new { id = currentUser.IdUser, pack = Request.Form["Pack"] }, FormMethod.Post, null))
            {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                    <div>
                        <p><strong>Choose one of the given packetages:</strong></p>
                        <center>
                            @Html.DropDownList("Pack", listItems, new { @class = "btn btn-warning dropdown-toggle" })
                        </center>  
                        <br />
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <center>
                            <input type="submit" value="" class="btn" style="background:url(https://www.centili.com/images/centili-widget-button.png) no-repeat; width:150px; " />
                            <a href=@Url.Action("Index") class="btn btn-info" role="button">Back</a>
                        </center>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


