﻿@model PagedList.IPagedList<IEP_projekat.Models.TokenOrder>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEP_projekat.Models.Account currentUser = Session["User"] as IEP_projekat.Models.Account;
    int idCurrentUser = -1;
    if (currentUser != null)
    {
        idCurrentUser = currentUser.IdUser;
    }
}

<div class="container">
    <div class="row" id="notify">
    </div>

    <div class="row">
        <div class="col-md-12">
            <center>
                <h2>My orders</h2>
            </center>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr />
            <center>
                <p>Here are all of your token orders.</p>
            </center>
            <hr />
        </div>
    </div>

    @if (Model.Count() != 0)
    {
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <table class="table table-hover table-responsive">
                    <tr>
                        <th>
                            Number of tokens:
                        </th>
                        <th>
                            Price:
                        </th>
                        <th>
                            State:
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumOfTokens)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.State)
                            </td>
                            <td>
                                <a href=@Url.Action("Details", new { id = item.IdOrder }) class="btn btn-info">More</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="row">
            <br />
            <center>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </center>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info">
                    <strong>
                        You haven't yet bought any tokes!
                    </strong>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            <center>
                <a class="btn btn-lg btn-danger" href=@Url.Action("Create")>Buy TOKENS </a>
            </center>
        </div>
    </div>
</div>
@section scripts
    {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>
        $(function () {
            // Reference the auto-generated proxy for the hub.
            var auctions = $.connection.bidding;
            // Create a function that the hub can call back to display messages.

            auctions.client.ReturnTokens = function (previousBidder, numberOfTokens)
            {
                if (@idCurrentUser == previousBidder)
                {
                    var targetField ="myTokens";
                    document.getElementById(targetField).innerHTML = numberOfTokens;
                }
            };

            auctions.client.ReturnTokensNotifications = function (previousBidder, textNotification)
            {
                if (@idCurrentUser == previousBidder)
                {
                    var myNotification = "<br /><div class='col-md-12'><div class='alert alert-danger' role='alert'> " +
                                            "<strong> " + textNotification + "</strong></div></div>";
                    var targetField = "notify";
                    var x = document.getElementById(targetField).innerHTML;
                    document.getElementById(targetField).innerHTML = myNotification + x;
                }
            };

            auctions.client.NewAuction = function (textNotification)
            {
                var myNotification = "<br /><div class='col-md-12'><div class='alert alert-info' role='alert'> " +
                                            "<strong> " + textNotification + "</strong></div></div>";
                var targetField = "notify";
                var x = document.getElementById(targetField).innerHTML;
                document.getElementById(targetField).innerHTML = myNotification + x;
            };

            $.connection.hub.start().done(function () {
            });
        });
    </script>
}
