﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEP_projekat.Models.Account currentUser = Session["User"] as IEP_projekat.Models.Account;
    int idCurrentUser = -1;
    if (currentUser != null)
    {
        idCurrentUser = currentUser.IdUser;
    }
}

<div class="container">

    @if ((string)ViewBag.Message != null)
    {
        <div class="row">
            <br />
            <div class="alert alert-warning" role="alert">
                <strong>@ViewBag.Message</strong>
            </div>
        </div>
    }

    <div class="row" id="notify">
    </div>

    <div class="row">
        <div class="col-md-6">
            <br />
            <img class="img-responsive " src="~/Content/aukcije.jpeg" alt="Slika na pocetnoj strani" />
        </div>
        <div class="col-md-4">
            <br />
            <center>
                <h2>LETS START THE BIDDING...</h2>
            </center>
            <br />
            <p>
                Get your heart pumping, adrenaline flowing, let the
                auction mania take over! Come with us and let the crazy and
                unknown drive you!
            </p>

            <br /><hr /><br />
            <center>
                <h3>Don't have an account? Lets make one! </h3>
                <a href=@Url.Action("Registration", "User") role="button" class="btn btn-primary btn-lg">Register</a>
            </center>

            <br />
            <hr />
        </div>
    </div>
</div>
@section scripts
    {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>
        $(function () {
            // Reference the auto-generated proxy for the hub.
            var auctions = $.connection.bidding;
            // Create a function that the hub can call back to display messages.

            auctions.client.ReturnTokens = function (previousBidder, numberOfTokens)
            {
                if (@idCurrentUser == previousBidder)
                {
                    var targetField ="myTokens";
                    document.getElementById(targetField).innerHTML = numberOfTokens;
                }
            };

            auctions.client.ReturnTokensNotifications = function (previousBidder, textNotification)
            {
                if (@idCurrentUser == previousBidder)
                {
                    var myNotification = "<br /><div class='col-md-12'><div class='alert alert-danger' role='alert'> " +
                                            "<strong> " + textNotification + "</strong></div></div>";
                    var targetField = "notify";
                    var x = document.getElementById(targetField).innerHTML;
                    document.getElementById(targetField).innerHTML = myNotification + x;
                }
            };

            auctions.client.NewAuction = function (textNotification)
            {
                var myNotification = "<br /><div class='col-md-12'><div class='alert alert-info' role='alert'> " +
                                            "<strong> " + textNotification + "</strong></div></div>";
                var targetField = "notify";
                var x = document.getElementById(targetField).innerHTML;
                document.getElementById(targetField).innerHTML = myNotification + x;
            };

            $.connection.hub.start().done(function () {
            });
        });
    </script>
}
