﻿@model PagedList.IPagedList<IEP_projekat.Models.Auction>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "All auctions";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEP_projekat.Models.Account currentUser = Session["User"] as IEP_projekat.Models.Account;
    int idCurrentUser = -1;
    if (currentUser != null)
    {
        idCurrentUser = currentUser.IdUser;
    }
}

<div class="container">
    <div class="row" id="notify">
    </div>

    @if (currentUser == null)
    {
        <div class="row">
            <br />
            <div class="alert alert-warning">
                <strong>You are not logged-in!</strong> If you want to join the fun please @Html.ActionLink("login", "Login", "User") or @Html.ActionLink("register", "Register", "User")
            </div>
        </div>
    }

    @if ((string)TempData["message"] != null)
    {
        <div class="row">
            <br />
            <div class="alert alert-warning" role="alert">
                <strong>@TempData["message"].ToString()</strong>
            </div>
        </div>
    }


    <div class="row">
        <div class="col-md-12">
            <center>
                <h2>
                    Let the bidding war begin!
                </h2>
                <hr />
                <p>
                    Here, only the fastest bidders can prevail. If you wish to win, you
                    better be on your A game. We want a clean game, so here are the rules:
                </p>
                <p>
                    Every auction has a time limit for taking bids. You can raise the current price for 1 token (by default).
                    Time waits for no man, so be quick.
                </p>
                <p><strong>May the best bidders win!</strong></p>
            </center>
        </div>
    </div>

    <hr />

    <div class="container">
        <button type="button" class="btn btn-light btn-lg" data-toggle="collapse" data-target="#demo">Filter by:</button>
        @if (currentUser != null)
        {
            <a href=@Url.Action("Create", "TokenOrder") class="btn btn-lg btn-danger pull-right" role="button">Buy tokens!</a>
            <a href=@Url.Action("CreateAuction","Auction") class="btn btn-lg btn-warning pull-right" style="margin-right:15px" role="button">Create auction</a>
        }
        <div id="demo" class="collapse">
            @using (Html.BeginForm("Index", "Auction", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-md-4">
                        <h5>
                            Search:
                        </h5>
                        @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Search by name" })
                    </div>
                    <div class="col-md-2">
                        <h5>
                            Minimum price:
                        </h5>
                        @Html.TextBox("MinValue", null, new { @class = "form-control", @placeholder = "Min price" })
                    </div>
                    <div class="col-md-2">
                        <h5>
                            Maximum price:
                        </h5>
                        @Html.TextBox("MaxValue", null, new { @class = "form-control", @placeholder = "Max price" })
                    </div>
                    <div class="col-md-2">
                        <h5>
                            Items displayed:
                        </h5>
                        @Html.TextBox("ItemsPerPage", null, new { @class = "form-control", @placeholder = "Items on page" })
                    </div>
                    <br />
                    <div class="col-md-2">
                        <input type="submit" value="Search" class="btn btn-primary text-strong" />
                        <a href="@Url.Action("Index")" class="btn btn-secondary" role="button">Reset</a>
                    </div>
                </div>
            }
        </div>
    </div>

    <br />
    <div class="row" id="appending">
        @foreach (var item in Model)
        {
            string imreBase64Data = Convert.ToBase64String(item.Image);
            string imgDataUrl = string.Format("data:image/png;base64,{0}", imreBase64Data);
            <div>
                <div class="col-md-3">
                    <div class="card" style="height: 20%; max-height:20%;  margin: 2px; padding:2px; border: 2px solid #e5e5e5; border-radius: 16px">
                        <img class="card-img-top" src="@imgDataUrl" alt="Card image cap" style="width: 100%; height:200px; object-fit: contain;" />
                        <div class="card-body text-center">
                            <hr />
                            <h3 class="card-title" style="height:50px; max-height:50px">
                                @Html.ActionLink(item.Product, "Details", "Auction", new { id = item.IdAuction }, null)
                            </h3>
                            <dl class="card-text">
                                <dt>Price (in tokens)</dt>
                                <dd id="@item.IdAuction price">@item.EndPrice</dd>

                                <dt>Time left</dt>
                                <dd id="@item.IdAuction timeLeft"></dd>

                                <dt>Winning bidder</dt>
                                <dd id="@item.IdAuction bidder">
                                    @if (item.Bids.Where(b => b.IdAuction == item.IdAuction).OrderByDescending(b => b.Tokens).FirstOrDefault() != null)
                                    {
                                        @item.Bids.Where(b => b.IdAuction == @item.IdAuction).OrderByDescending(b => b.Tokens).FirstOrDefault().Account.Email.ToString();

                                    }
                                    else
                                    {
                                        if (!item.State.Contains("COMPLETED"))
                                        {
                                            <p>Be the first one!</p>
                                        }
                                        else
                                        {
                                            <p>Noone placed a bid! :(</p>
                                        }

                                    }
                                </dd>
                            </dl>
                            <hr />
                            <a id="@item.IdAuction button" href=@Url.Action("MakeBid",new { curAuction = item.IdAuction}) class="btn btn-danger btn-lg" role="button" style="margin-bottom:5px">
                                Bid!
                            </a>
                        </div>
                    </div>
                </div>

                @if (!item.State.Contains("COMPLETED"))
                {
                    <script>
                        var countDownDate@(item.IdAuction) = new Date().getTime() - Math.floor(@System.DateTime.Now.Subtract(@item.StartTime).TotalMilliseconds) + @item.Time * 1000;
                        var x = setInterval(function() {

                            var targetField = @item.IdAuction + " timeLeft";
                            var now = new Date().getTime();
                            var distance = countDownDate@(item.IdAuction) - now;

                            if (distance <= 0) {
                                clearInterval(x);

                                $.ajax({
                                    type: "POST",
                                    url: '@Url.Action("CompleteAuction", "Auction", new { id = item.IdAuction})',
                                    dataType: "json",
                                    contentType: "application/json; charset=utf-8",
                                    success: function () {
                                        alert("Prosao");
                                    }
                                });

                                document.getElementById(targetField).innerHTML = "<mark> COMPLETED </mark>";
                                targetField = @item.IdAuction + " button";
                                document.getElementById(targetField).setAttribute("disabled", "true");

                                return;
                            }

                            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                            document.getElementById(targetField).innerHTML = days + "d " + hours + "h "
                                + minutes + "m " + seconds + "s ";

                        }, 1000);

                    </script>
                }
                else
                {
                    <script>
                        var targetField = @item.IdAuction + " timeLeft";
                        document.getElementById(targetField).innerHTML = "<mark> COMPLETED </mark>";
                        targetField = @item.IdAuction + " button";
                        document.getElementById(targetField).setAttribute("disabled", "true");
                    </script>
                }
            </div>
        }
    </div>

    <div class="row">
        <br />

        <center>
            @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, searchString = ViewBag.CurrentFilter, MinValue = ViewBag.MinValue, MaxValue = ViewBag.MaxValue, ItemsPerPage = ViewBag.ItemsPerPage }))
        </center>
    </div>
</div>

@section scripts 
    {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>
        $(function () {
            // Reference the auto-generated proxy for the hub.
            var auctions = $.connection.bidding;
            // Create a function that the hub can call back to display messages.
            auctions.client.UpdateAuction = function (idAuction, newPrice, leadingBidder)
            {
                var targetField = idAuction + " price";
                document.getElementById(targetField).innerHTML = newPrice;
                targetField = idAuction + " bidder";
                document.getElementById(targetField).innerHTML = leadingBidder;
            };

            auctions.client.ReturnTokens = function (previousBidder, numberOfTokens)
            {
                if (@idCurrentUser == previousBidder)
                {
                    var targetField ="myTokens";
                    document.getElementById(targetField).innerHTML = numberOfTokens;
                }
            };

            auctions.client.ReturnTokensNotifications = function (previousBidder, textNotification)
            {
                if (@idCurrentUser == previousBidder)
                {
                    var myNotification = "<br /><div class='col-md-12'><div class='alert alert-danger' role='alert'> " + 
                                            "<strong> " + textNotification + "</strong></div></div>";
                    var targetField = "notify";
                    var x = document.getElementById(targetField).innerHTML;
                    document.getElementById(targetField).innerHTML = myNotification + x;
                }
            };

            auctions.client.NewAuction = function (textNotification)
            {
                var myNotification = "<br /><div class='col-md-12'><div class='alert alert-info' role='alert'> " + 
                                            "<strong> " + textNotification + "</strong></div></div>";
                var targetField = "notify";
                var x = document.getElementById(targetField).innerHTML;
                document.getElementById(targetField).innerHTML = myNotification + x;
            };

            $.connection.hub.start().done(function () {
            });
        });
    </script>
    }