﻿@model IEP_projekat.Models.Auction

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEP_projekat.Models.Account currentUser = Session["User"] as IEP_projekat.Models.Account;
    int idCurrentUser = -1;
    if (currentUser != null)
    {
        idCurrentUser = currentUser.IdUser;
    }
}

<div class="container">
    <div class="row" id="notify">
    </div>

    <div class="row">
        <div class="col-md-12">
            <center>
                <h2>
                    @Model.Product
                </h2>
            </center>
        </div>
        <hr />
    </div>

    <div class="row">
        @{
            string imreBase64Data = Convert.ToBase64String(Model.Image);
            string imgDataUrl = string.Format("data:image/png;base64,{0}", imreBase64Data);
        }
        <div class="col-md-4">
            <img class="img-fluid rounded" style="width:100%" src="@imgDataUrl" alt="picture of product" />
        </div>

        <div class="col-md-4">
            <br />
            <dl class="row dl-horizontal" style="line-height: 1.6; font-size: large">
                <dt>
                    Maker
                </dt>
                <dd>
                    @ViewBag.Maker
                </dd>

                <dt>
                    Made on (date)
                </dt>
                <dd>
                    @Model.CreateTime.ToString("d/M/yyyy")
                </dd>

                <dt>
                    Made on (time)
                </dt>
                <dd>
                    @Model.CreateTime.ToString("hh:mm:ss")
                </dd>

                <dt>
                    Bid duration
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Time)
                </dd>

                <dt>
                    Price
                </dt>
                <dd id="@Model.IdAuction newPrice">
                    @Html.DisplayFor(model => model.BeginningPrice)
                </dd>
            </dl>
            <br />
            <center>
                <a href=@Url.Action("NeedAdminApproval") class="btn btn-info" role="button">Back</a>
            </center>
        </div>

        <div class="col-md-4">
            <br />
            <center>
                <h3>
                    Admin options:
                </h3>
                <br />
                <a class="btn btn-success btn-lg" role="button" href=@Url.Action("OpenAuction", new { id = Model.IdAuction})>
                    <strong> APPROVE </strong>
                </a>
                <a class="btn btn-danger btn-lg" role="button" href=@Url.Action("RejectAuction", new { id = Model.IdAuction})>
                    <strong> DELETE </strong>
                </a>
            </center>
        </div>
    </div>
</div>

@section scripts
    {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>
        $(function () {
            // Reference the auto-generated proxy for the hub.
            var auctions = $.connection.bidding;
            // Create a function that the hub can call back to display messages.

            auctions.client.ReturnTokens = function (previousBidder, numberOfTokens)
            {
                if (@idCurrentUser == previousBidder)
                {
                    var targetField ="myTokens";
                    document.getElementById(targetField).innerHTML = numberOfTokens;
                }
            };

            auctions.client.ReturnTokensNotifications = function (previousBidder, textNotification)
            {
                if (@idCurrentUser == previousBidder)
                {
                    var myNotification = "<br /><div class='col-md-12'><div class='alert alert-danger' role='alert'> " +
                                            "<strong> " + textNotification + "</strong></div></div>";
                    var targetField = "notify";
                    var x = document.getElementById(targetField).innerHTML;
                    document.getElementById(targetField).innerHTML = myNotification + x;
                }
            };

            auctions.client.NewAuction = function (textNotification)
            {
                var myNotification = "<br /><div class='col-md-12'><div class='alert alert-info' role='alert'> " +
                                            "<strong> " + textNotification + "</strong></div></div>";
                var targetField = "notify";
                var x = document.getElementById(targetField).innerHTML;
                document.getElementById(targetField).innerHTML = myNotification + x;
            };

            $.connection.hub.start().done(function () {
            });
        });
    </script>
    }