﻿@model PagedList.IPagedList<IEP_projekat.Models.Auction>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Need Admin Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEP_projekat.Models.Account currentUser = Session["User"] as IEP_projekat.Models.Account;
    int idCurrentUser = -1;
    if (currentUser != null)
    {
        idCurrentUser = currentUser.IdUser;
    }
}

<div class="container">
    <div class="row" id="notify">
    </div>

    <div class="row">
        <div class="col-md-12">
            <center>
                <h2>
                    New auction ready for bidding!
                </h2>
                <hr />
                <p>
                    All new auction are listed. If you want to approve or delete them,
                    please click on the auction you are interested in and think about it one more time.
                </p>
            </center>
        </div>
    </div>

    <hr />

    <div class="container">
        <br />
        <div class="row">

            @if (Model.Count() == 0)
            {
                <div class="alert alert-info">
                    <strong>
                        There are no new auction.
                    </strong>
                </div>
            }

            @foreach (var item in Model)
            {
                string imreBase64Data = Convert.ToBase64String(item.Image);
                string imgDataUrl = string.Format("data:image/png;base64,{0}", imreBase64Data);

                <div class="col-md-3">
                    <div class="card" style="height: 20%; max-height:20%; padding:2px; border: 2px solid #e5e5e5; border-radius: 16px">
                        <img class="card-img-top" src="@imgDataUrl" alt="Card image cap" style="width: 100%; height:200px; object-fit: contain;" />
                        <div class="card-body text-center">

                            <h3 class="card-title" style="max-height:50px; height: 50px">
                                @Html.ActionLink(item.Product, "NeedAdminApprovalDetails", "Auction", new { id = item.IdAuction }, null)
                            </h3>

                            <dl class="card-text">
                                <dt>Price:</dt>
                                <dd>@item.EndPrice</dd>

                                <dt>Time for bidding:</dt>
                                <dd>@item.Time</dd>
                            </dl>

                            <a href=@Url.Action("NeedAdminApprovalDetails", "Auction", new { id = item.IdAuction }) class="btn btn-info">More</a>
                        </div>
                    </div>
                </div>
            }
        </div>

        @if (Model.Count != 0)
        {
            <div class="row">
                <br />
                <center>
                    @Html.PagedListPager(Model, page => Url.Action("NeedAdminApproval", new { page }))
                    <h5>Pages:</h5>
                </center>
            </div>
        }
        
    </div>
</div>
@section scripts
    {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>
        $(function () {
            // Reference the auto-generated proxy for the hub.
            var auctions = $.connection.bidding;
            // Create a function that the hub can call back to display messages.

            auctions.client.ReturnTokens = function (previousBidder, numberOfTokens)
            {
                if (@idCurrentUser == previousBidder)
                {
                    var targetField ="myTokens";
                    document.getElementById(targetField).innerHTML = numberOfTokens;
                }
            };

            auctions.client.ReturnTokensNotifications = function (previousBidder, textNotification)
            {
                if (@idCurrentUser == previousBidder)
                {
                    var myNotification = "<br /><div class='col-md-12'><div class='alert alert-danger' role='alert'> " +
                                            "<strong> " + textNotification + "</strong></div></div>";
                    var targetField = "notify";
                    var x = document.getElementById(targetField).innerHTML;
                    document.getElementById(targetField).innerHTML = myNotification + x;
                }
            };

            auctions.client.NewAuction = function (textNotification)
            {
                var myNotification = "<br /><div class='col-md-12'><div class='alert alert-info' role='alert'> " +
                                            "<strong> " + textNotification + "</strong></div></div>";
                var targetField = "notify";
                var x = document.getElementById(targetField).innerHTML;
                document.getElementById(targetField).innerHTML = myNotification + x;
            };

            $.connection.hub.start().done(function () {
            });
        });
    </script>
}