﻿@model IEP_projekat.Models.Extended.AdminConfigurationExtended

@{
    ViewBag.Title = "ViewAdminInfo";

    IEP_projekat.Models.Account currentUser = Session["User"] as IEP_projekat.Models.Account;
    int idCurrentUser = -1;
    if (currentUser != null)
    {
        idCurrentUser = currentUser.IdUser;
    }
}

<div class="container">
    <div class="row" id="notify">
    </div>

    <div class="row">
        <div class="col-md-12">
            <center>
                <h2>System settings</h2>
                <hr />
            </center>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <center>
                <table class="table table-hover" style="font-size:large">
                    <tr>
                        <th>Items listed per page</th>
                        <td>@Html.DisplayFor(model => model.ItemsPage)</td>
                    </tr>
                    <tr>
                        <th>Default duration of auction</th>
                        <td>@Html.DisplayFor(model => model.DefaultDuration)</td>
                    </tr>
                    <tr>
                        <th>Silver pack (tokens)</th>
                        <td>@Html.DisplayFor(model => model.SilverPack)</td>
                    </tr>
                    <tr>
                        <th>Gold pack (tokens)</th>
                        <td>@Html.DisplayFor(model => model.GoldPack)</td>
                    </tr>
                    <tr>
                        <th>Platinum pack (tokens)</th>
                        <td>@Html.DisplayFor(model => model.PlatinumPack)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Currency)</th>
                        <td>@Html.DisplayFor(model => model.Currency)</td>
                    </tr>
                    <tr>
                        <th>Value of token</th>
                        <td>@Html.DisplayFor(model => model.TokenValue)</td>
                    </tr>
                </table>
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <center>
                <a href=@Url.Action("EditAdminInfo", "AdminConfiguration",null,null) class="btn btn-info btn-lg">Change</a>
            </center>
        </div>
    </div>
</div>
@section scripts
    {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>
        $(function () {
            // Reference the auto-generated proxy for the hub.
            var auctions = $.connection.bidding;
            // Create a function that the hub can call back to display messages.

            auctions.client.ReturnTokens = function (previousBidder, numberOfTokens)
            {
                if (@idCurrentUser == previousBidder)
                {
                    var targetField ="myTokens";
                    document.getElementById(targetField).innerHTML = numberOfTokens;
                }
            };

            auctions.client.ReturnTokensNotifications = function (previousBidder, textNotification)
            {
                if (@idCurrentUser == previousBidder)
                {
                    var myNotification = "<br /><div class='col-md-12'><div class='alert alert-danger' role='alert'> " +
                                            "<strong> " + textNotification + "</strong></div></div>";
                    var targetField = "notify";
                    var x = document.getElementById(targetField).innerHTML;
                    document.getElementById(targetField).innerHTML = myNotification + x;
                }
            };

            auctions.client.NewAuction = function (textNotification)
            {
                var myNotification = "<br /><div class='col-md-12'><div class='alert alert-info' role='alert'> " +
                                            "<strong> " + textNotification + "</strong></div></div>";
                var targetField = "notify";
                var x = document.getElementById(targetField).innerHTML;
                document.getElementById(targetField).innerHTML = myNotification + x;
            };

            $.connection.hub.start().done(function () {
            });
        });
    </script>
}