﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @{
        IEP_projekat.Models.Account currentUser = Session["User"] as IEP_projekat.Models.Account;
    }
    <script type="text/javascript" src="https://stage.centili.com/widget/js/c-mobile-payment-scripts.js"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Auction Mania", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (currentUser != null)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("My Profile", "Details", "User", new { id = currentUser.IdUser }, new { @class = "nav-link" })
                        </li>
                    }
                    @if (currentUser != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Auctions<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("All auctions", "Index", "Auction", null, new { @class = "nav-link" })
                                </li>
                                <li>
                                    @Html.ActionLink("My auctions", "UserAuction", "Auction", new { id = currentUser.IdUser }, new { @class = "nav-link" })
                                </li>
                                <li>
                                    @Html.ActionLink("Won auctions", "WonAuctions", "Auction", new { id = currentUser.IdUser }, new { @class = "nav-link" })
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("All auctions", "Index", "Auction", null, new { @class = "nav-link" })
                        </li>
                    }
                   
                    @if (currentUser != null && currentUser.Role.Equals("ADMIN"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin settings<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Pending review", "NeedAdminApproval", "Auction", null, new { @class = "nav-link" })
                                </li>
                                <li>
                                    @Html.ActionLink("Settings", "ViewAdminInfo", "AdminConfiguration", null, new { @class = "nal-link" })
                                </li>    
                            </ul>
                        </li>
                    }
                    @if (currentUser != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tokens<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("View token orders", "Index", "TokenOrder", null, new { @class = "nal-link" })
                                </li>
                                <li>
                                    @Html.ActionLink("Buy tokens", "Create", "TokenOrder", null, new { @class = "nal-link" })
                                </li>   
                            </ul>
                        </li>
                    }
                </ul>
                @if (Session["User"] != null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            @Html.ActionLink("Hello " + currentUser.FirstName + "!", "Details", "User", new { id = currentUser.IdUser }, new { @class = "nav-link" })
                        </li>
                        <li class="navbar-text text-warning">
                            <span id="myTokens">@currentUser.Tokens</span>&nbsp;<img class="img-fluid" src="https://s8.postimg.cc/pt4b0p0xx/tokenpng.png" height="20" width="20" />
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Log out", "Logout", "User", null, new { @class = "nav-link" })
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            @Html.ActionLink("Log in", "Login", "User", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Register", "Registration", "User", null, new { @class = "nav-link" })
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <center>
                <p>&copy; @DateTime.Now.Year - Stefan Matic</p>
                <p>Projekat iz predmeta - "Infrastruktura za elektronsko poslovanje"</p>
            </center>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
